// Item mixins
// @param {boolean=} error If an error occured.
// @param {string=} errorMsg
// @param {Object|Error=} errorObj
// @param {boolean=} success
// @param {Object=} successObj

//- include helpers.jade

// Show a single item.
//
// @param {mongoose.Document} item
// @param {mongoose.Model.schema.path} schema
// @param {Object=} opts Options for rendering.
mixin viewItem(item, schema, opts)
  h4
    a(href="#{opts.baseUrl}/#{item[opts.urlField]}", title="#{item[opts.nameField]}")
      | #{item[opts.nameField]}


  table.table.table-bordered
    -for schemaItem in schema
      - if(schemaItem._viewData.canShow)
        tr
          th #{schemaItem._viewData.name}
          td #{fn.getValue(item, schemaItem)}

  .row-fluid
    .span12
      a(href="#{opts.baseUrl}/#{item[opts.urlField]}/edit").btn.btn-small.btn-primary Edit
