// Item mixins
// @param {boolean=} error If an error occured.
// @param {string=} errorMsg
// @param {Object|Error=} errorObj
// @param {boolean=} success
// @param {Object=} successObj

//- include helpers.jade

//
// A single item.
//
// @param {mongoose.Document} item
// @param {mongoose.Model.schema.path} schema
// @param {Object=} opts Options for rendering.
//
mixin viewItem(item, schema, opts)
  h4
    a(href="#{opts.baseUrl}/#{item[opts.urlField]}", title="#{item[opts.nameField]}")
      | #{item[opts.nameField]}


  table.table.table-bordered
    -for schemaItem in schema
      - if(schemaItem._viewData.canShow)
        tr
          th #{schemaItem._viewData.name}
          td #{fn.getValue(item, schemaItem)}

  .row-fluid
    .span12
      a(href="#{opts.baseUrl}/#{item[opts.urlField]}/edit").btn.btn-small.btn-primary Edit


mixin editItem(item)
  - var edit = !!item
    form(method="post", action=(edit ? "/customer/" + item[opts.urlField] : "/customer" ))
      fieldset
        label(for="admin-newcust-name") Company Name
        input(type="text", maxlength="120", placeholder="Company Name",
          name="companyName", id="admin-newcust-name")
        div
          button.btn(type="submit")=(edit ? "Update" : "Create")
