// Item mixins
// @param {boolean=} error If an error occured.
// @param {string=} errorMsg
// @param {Object|Error=} errorObj
// @param {boolean=} success
// @param {Object=} successObj

include helpers.jade

//
// A single item.
//
// @param {mongoose.Document} item
// @param {mongoose.Model.schema.path} schema
// @param {Object=} opts Options for rendering.
//
mixin viewItem(item, schema,opts)
  h4
    a(href="#{item[opts.baseUrl]}/#{item[opts.urlField]}", title="#{item[opts.nameField]}")
      | #{item[opts.nameField]}


  table.table.table-bordered
    -for schemaItem in schema
      tr
        th #{getName(schemaItem.path)}
        td #{getValue(item, schemaItem)}

  .row-fluid
    .span12
      a(href="#{item[opts.baseUrl]}/#{item[opts.urlField]}/edit").btn.btn-small.btn-primary Edit
